
/* /*  your css code here. If applicable */
body{
	display : flex ;
	flex-direction : column ;
}
#bookForm{
	display : flex ;
	flex-direction : column ;
}

input{
	border-radius : 3px ;
	padding : 5px ;
}
button{
	background-color : rgb(100,150, 255);
	color : white ;
	width : 100px ;
	height : 30px;
	border-radius : 3px ;
}
.table{
	width : 100% ;	
}
 table , th , td {
		border : 1px solid black ;
 }
td,th {
	width : 100px;
}
	
thead th{
	text-align : left;
}

.delete {
    cursor : pointer;
    color : red;
}
span {
	color : white ;
}